body {
  background-color: black;
  background-image: url("02redgradient.png");
  background-repeat: repeat-x;
}

h1 {
  color: red;
  text-align: center;
  font-family: "Pirata One", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: white
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}
